@charset "UTF-8";
/* основний колір тексту #212121 */
/* додатковий колір тексту #757575 */
/* білий #ffffff */
/* акцент #2196f3 */
/* додатковий колір тексту у футері rgba(255, 255, 255, 0.6); */
/* додатковий колір фону #f5f4fa */
/* колір фону футера #2f303a */
:root {
  --primary-text-color: #212121;
  --additional-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --additional-text-color-footer: rgba(255, 255, 255, 0.6);
  --additional-bg-color: #f5f4fa;
  --bg-color-footer: #2f303a;
  --gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
  --black-text-color: #000000;
  --border-bottom-header: #ececec;
  --bg-color-hero: #c4c4c4;
  --bg-color-hero-button: #188ce8;
  --box-shadow-button: rgba(0, 0, 0, 0.15);
  --bg-text-color-work-section: rgba(47, 48, 58, 0.8);
  --icon-color-team-clients: #afb1b8;
  --bg-color-footer-net-link: rgba(255, 255, 255, 0.1);
  --border-color-footer-subscribe: rgba(255, 255, 255, 0.3);
  --bg-color-backdrop: rgba(0, 0, 0, 0.2);
  --box-shadow-team-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --modal-form-border: rgba(33, 33, 33, 0.2);
  --modal-textarea: rgba(117, 117, 117, 0.5);
  --border-color-modal-close-button: rgba(0, 0, 0, 0.1);
  --box-shadow-portfolio-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadow-portfolio-works-item: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --bg-color-works-description: rgba(33, 150, 243, 0.9);
  --border-color-portfolio-section: #EEEEEE;
  --drop-shadow-footer-subscribe: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

body {
  background-color: var(--white-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Наші переваги */
.benefits {
  padding: 94px 0;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.benefits__item {
  width: calc((100% - 90px) / 3);
}
.benefits__link {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--additional-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits__text {
  margin-top: 0;
  margin-bottom: 0px;
  color: var(--additional-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.clients {
  padding: 94px 0;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.clients__item {
  width: calc((100% - 150px) / 5);
}

.clients__link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color-team-clients);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: var(--icon-color-team-clients);
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-text-color);
}

.clients__icon {
  fill: var(--icon-color-team-clients);
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  background-color: var(--bg-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__adress {
  margin-right: 70px;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__item {
  margin-bottom: 9px;
}
.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  margin-top: 20px;
  color: var(--white-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-text-color);
}

.footer__link-accent {
  color: var(--additional-text-color-footer);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link-accent:hover, .footer__link-accent:focus {
  color: var(--accent-text-color);
}

/* footer-net */
.footer-net {
  display: block;
}
.footer-net__text {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-net__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 0;
}
.footer-net__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-net__link {
  width: 44px;
  height: 44px;
  background-color: var(--bg-color-footer-net-link);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-net__link:hover, .footer-net__link:focus {
  background: var(--accent-text-color);
}

.footer-net__icon {
  fill: var(--white-text-color);
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-net__link:hover .footer-net__icon, .footer-net__link:focus .footer-net__icon {
  fill: var(--white-text-color);
}

/* footer-subscribe */
.footer-subscribe {
  margin-left: auto;
  width: 570px;
  height: 86px;
}
.footer-subscribe__text {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-subscribe__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: var(--additional-text-color-footer);
  background-color: var(--bg-color-footer);
  border: 1px solid var(--border-color-footer-subscribe);
  -webkit-filter: var(--drop-shadow-footer-subscribe);
          filter: var(--drop-shadow-footer-subscribe);
  border-radius: 4px;
}
.footer-subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  gap: 10px;
  background-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 4px 4px var(--box-shadow-button);
          box-shadow: 0px 4px 4px var(--box-shadow-button);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
}
.footer-subscribe__button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--white-text-color);
}

.header {
  display: block;
  border-bottom: 1px solid var(--border-bottom-header);
}
.header__container, .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 93px;
  padding: 0;
  gap: 50px;
  list-style: none;
}

.header__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-text-color);
}
.header__link--current {
  color: var(--accent-text-color);
}
.header__link::after {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  opacity: 0;
  background-color: var(--accent-text-color);
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  content: "";
}
.header__link--current::after {
  opacity: 1;
  z-index: 1;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__contacts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--additional-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  gap: 10px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-link:hover, .header__contacts-link:focus {
  color: var(--accent-text-color);
}

.header__contacts-icon {
  fill: var(--additional-text-color);
  cursor: pointer;
}
.header__contacts-link:hover .header__contacts-icon, .header__contacts-link:focus .header__contacts-icon {
  fill: var(--accent-text-color);
}

/* Герой */
.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--bg-color-hero);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, var(--gradient)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  width: 696px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  min-width: 216px;
  height: 50px;
  padding: 10px 32px;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px var(--box-shadow-button);
          box-shadow: 0px 4px 4px var(--box-shadow-button);
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  color: var(--white-text-color);
  background-color: var(--bg-color-hero-button);
}

.logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__accent--black {
  color: var(--black-text-color);
}

.logo__accent--white {
  color: var(--white-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--bg-color-backdrop);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-text-color);
  -webkit-box-shadow: var(--box-shadow-team-modal);
          box-shadow: var(--box-shadow-team-modal);
  border-radius: 4px;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.modal__form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.modal__form-label {
  margin-bottom: 4px;
  color: var(--additional-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__form-control {
  position: relative;
}
.modal__form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  min-width: 200px;
  height: 50px;
  padding: 10px 52px;
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 4px 4px var(--box-shadow-button);
          box-shadow: 0px 4px 4px var(--box-shadow-button);
  border-radius: 4px;
  cursor: pointer;
}

.modal__form-input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid var(--modal-form-border);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-input:hover, .modal__form-input:focus {
  border-color: var(--accent-text-color);
}
.modal__form-icon:hover .modal__form-input, .modal__form-icon:focus .modal__form-input {
  border-color: var(--accent-text-color);
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--primary-text-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-icon:hover, .modal__form-icon:focus {
  fill: var(--accent-text-color);
}
.modal__form-input:hover .modal__form-icon, .modal__form-input:focus .modal__form-icon {
  fill: var(--accent-text-color);
}

.modal__form-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid var(--modal-form-border);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-comment:hover, .modal__form-comment:focus {
  border-color: var(--accent-text-color);
}

.modal__form-field textarea::-webkit-input-placeholder {
  color: var(--modal-textarea);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__form-field textarea::-moz-placeholder {
  color: var(--modal-textarea);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__form-field textarea:-ms-input-placeholder {
  color: var(--modal-textarea);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__form-field textarea::-ms-input-placeholder {
  color: var(--modal-textarea);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__form-field textarea::placeholder {
  color: var(--modal-textarea);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

/* checkbox */
.modal-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.modal-checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.modal-checkbox__label {
  position: relative;
  display: block;
  padding-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
}
.modal-checkbox__link {
  color: var(--accent-text-color);
}

.modal-checkbox__border {
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  background-color: var(--white-text-color);
  background-origin: border-box;
  z-index: -1;
  -webkit-transition-property: background-color, fill-opacity;
  transition-property: background-color, fill-opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox__input:checked .modal-checkbox__border {
  border: none;
  background-color: var(--accent-text-color);
  fill: var(--white-text-color);
}

/* modal-close */
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-text-color);
  border: 1px solid var(--border-color-modal-close-button);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-icon {
  fill: var(--black-text-color);
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-icon:hover, .modal__close-icon:focus {
  fill: var(--accent-text-color);
}

/* Секції */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда */
.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 94px 0;
  background: var(--additional-bg-color);
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.team__item {
  background-color: var(--white-text-color);
  -webkit-box-shadow: var(--box-shadow-team-modal);
          box-shadow: var(--box-shadow-team-modal);
  border-radius: 0px 0px 4px 4px;
}
.team__info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--additional-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team__net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.team__net-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__net-link:hover, .team__net-link:focus {
  background-color: var(--accent-text-color);
}

.team__net-icon {
  fill: var(--icon-color-team-clients);
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__net-link:hover .team__net-icon, .team__net-link:focus .team__net-icon {
  fill: var(--white-text-color);
}

/* Чим ми займаємося */
.work {
  padding: 94px 0;
  padding-top: 0;
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.work__overlay {
  position: relative;
}
.work__text {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  color: var(--white-text-color);
  background-color: var(--bg-text-color-work-section);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */